ul.list-group.stats
	li.list-group-item Total games:
		span.badge {{$ctrl.stats.totalGames}}
	li.list-group-item Games Won:
		span.badge {{$ctrl.stats.gamesWon}}
	li.list-group-item Games Lost:
		span.badge {{$ctrl.stats.gamesLost}}
	li.list-group-item Guessed letters:
		span.badge {{$ctrl.stats.guessedLetters}}
	li.list-group-item Guessed words:
		span.badge {{$ctrl.stats.guessedWords}}