h3.text-center Multplayer results
table.table.table-bordered
	thead
		tr
			th Player
			th Total games
			th Won
			th Lost
			th Letters guessed
			th Words guessed
	tbody
		tr(ng-repeat="player in $ctrl.localStats")
			th(ng-class="{success: player.player==$ctrl.winner.name}")
				| {{player.player}} 
				span(ng-show="player.player==$ctrl.winner.name").glyphicon.glyphicon-star
			th {{player.stats.totalGames}}
			th(ng-class="{success: player.player==$ctrl.winner.name && $ctrl.winner.by == 'gamesWon'}") {{player.stats.gamesWon}}
			th {{player.stats.gamesLost}}
			th(ng-class="{success: player.player==$ctrl.winner.name && $ctrl.winner.by == 'guessedLetters'}") {{player.stats.guessedLetters}}
			th(ng-class="{success: player.player==$ctrl.winner.name && $ctrl.winner.by == 'guessedWords'}") {{player.stats.guessedWords}}