div.stats
	p Total games: {{$ctrl.stats.totalGames}}
	p Games Won: {{$ctrl.stats.gamesWon}}
	p Games Lost: {{$ctrl.stats.gamesLost}}
	p Guessed letters: {{$ctrl.stats.guessedLetters}}
	p Guessed words: {{$ctrl.stats.guessedWords}}