doctype html
html(lang="en")
	head
		base(href="/")
		meta(charset = "utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Hangman
		link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|Merriweather:400,700" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="css/styles.css")
	body(ng-controller="HangmanParentController")
		overlay(result="result")
		main.container
			div.row
				div.col-md-6
					img.logo(src="images/logo-hangman.png" alt="Hangman game logo")
					h4(ng-show="!startGameState") {{'Singleplayer' | singleOrNot:!multiplayer}}
					button.btn.btn-warning(ng-click="multiplayer = !multiplayer" ng-show="startGameState") {{'Multiplayer' | singleOrNot:multiplayer}}
				div.col-md-6
					stats(player-stats="playerStats" mode="multiplayer")
			new-game.text-center.new-game(ng-show="startGameState" set-num-of-words="setNumOfWords(event)" set-num-of-players="setNumOfPlayers(event)" multiplayer="multiplayer" categories="categories" missing-numbers="missingNumbers" set-category="setCategory(category)")
			game-component(ng-if="!startGameState" guessed-letters="guessedLetters(number)" selected-data="selectedData" finished-game="finishedGame(result)")
			p.text-center.start-game(ng-show="startGameState")
				button.btn.btn-primary.btn-lg(ng-click="startGame()") Start game
			multiplayer-results(ng-show="multiplayer && endgame" stats="multiTotalStats")
		script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
		script(type="text/javascript" src="js/scripts.js")